PROJECT_SLUG=smart-agency
NODE_ENV=production

APP_PORT=3000
MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/smart-agency

JWT_SECRET=change-me
JWT_EXPIRES_IN=7d

FRONTEND_URL=https://smartagency-ye.com
N8N_WEBHOOK_URL=https://n8n.smartagency-ye.com/webhook/leads

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
