version: "3.8"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: smart-backend
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - PORT=3000
    env_file:
      - ./backend/.env
    networks:
      - web-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: smart-frontend
    restart: unless-stopped
    networks:
      - web-network

networks:
  web-network:
    external: true