@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');
@import "tailwindcss";

:root {
  --color-primary: #008080;
  --color-primary-dark: #006666;
  --color-secondary: #2d3748;
  --color-secondary-light: #565a5a;
  --color-background: #f9fafb;
  --color-muted: #e5e7eb;
}

body {
  background-color: var(--color-background);
  font-family: 'Cairo', sans-serif;
}

/* ألوان الهوية كـ Utilities */
.text-primary {
  color: var(--color-primary);
}
.text-secondary {
  color: var(--color-secondary);
}
.text-secondary-light {
  color: var(--color-secondary-light);
}
.bg-primary {
  background-color: var(--color-primary);
}
.bg-primary-dark {
  background-color: var(--color-primary-dark);
}
.bg-secondary {
  background-color: var(--color-secondary);
}
.bg-background {
  background-color: var(--color-background);
}
.bg-muted {
  background-color: var(--color-muted);
}
.border-primary {
  border-color: var(--color-primary);
}
.border-muted {
  border-color: var(--color-muted);
}
